<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString1" value="Server=DESKTOP-N2VOQSH;Database=inbound;Trusted_Connection=True;"/>
    <add key="ConnectionString2" value="Server=DESKTOP-N2VOQSH;Database=arg_reporting;Trusted_Connection=True;"/>
    <add key="ConnectionString3" value="Server=DESKTOP-N2VOQSH;Database=outbound;Trusted_Connection=True;"/>
    <add key="LookupTable1" value="inbound.REF.ReferentieData"/>
    <add key="LookupTable2" value="arg_reporting.META.DWH_Orchestration_Components"/>

    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

